ENVIRONMENT=local
DISABLE_RATE_LIMIT=true

# DATABASE
DATABASE_URL="Server=localhost,1433;Database=backend_c_sharp;User Id=sa;Password=YourPassword123;TrustServerCertificate=True;"

# CACHE
REDIS_HOST="redis://localhost:6379"

# APPLICATION
PORT=8001
FIRST_USER=admin@email.com
FIRST_PASSWORD=admin@123
JWT_SECRET=86941813-8b97-4cad-b0b2-f97734a947d7

# BOOTSTRAP
BOOTSTRAP_AUTH=true
